<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>PROGETTO_WEB_GRUPPO99_RIA</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  
    <filter> 
      <filter-name>LoginFilter</filter-name>
      <filter-class>it.polimi.tiw.progetto.filters.LoginFilter</filter-class> 
 </filter> 
 
 <filter-mapping> 
    <filter-name>LoginFilter</filter-name> 
    <url-pattern>/HomePage</url-pattern>
     <url-pattern>/AddFile</url-pattern>
     <url-pattern>/AddFolder</url-pattern>
     <url-pattern>/Delete</url-pattern>
     <url-pattern>/MoveFile</url-pattern>
     <url-pattern>/VisitFile</url-pattern>
     <url-pattern>/HomeCS.html</url-pattern>
 </filter-mapping> 
</web-app>